*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background: #c9bd95;
}
.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: transalateX(-50%);
  margin-bottom: 20px;
}
.social-link ul{
  display: flex;
}
.social-link ul li{
 font-size: 15px;
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372F0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #5372F0;
  transition: all 0.3s ease;
}
.social-link ul li:hover{
  color: #fff;
  background: #5372F0;
}
a{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-size: 35px;
} 
.wrapper{
  width: 605px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
}
.wrapper header{
  width: 100%;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.wrapper .content{
  margin: 35px 0;
}
.content .quote-area{
  display: flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
}
.quote-area i:first-child{
  margin: 3px 10px 0 0;
}
.quote-area i:last-child{
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}
.quote-area .quote{
  font-size: 22px;
  text-align: center;
  word-break: break-all;
}
.content .author{
 display: flex;
 font-size: 18px;
 font-style: italic;
 margin-top: 20px;
 justify-content: flex-end;
}
.author span:first-child{
  margin: -7px 5px 0 0;
  font-family: Monospace;
}
.wrapper .buttons{
 border-top: 1px solid #ccc;
}
.buttons .features{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.features ul{
  display: flex;
}
.features ul li{
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372F0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #5372F0;
  transition: all 0.3s ease;
} 
.features ul li:hover{
  color: #fff;
  background: #5372F0;
}
.features button{
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 13px 22px;
  border-radius: 10px;
  background: #5372F0;
}
.button.loading{
  opacity: 0.7;
  pointer-events: none;
}
@media screen and (max-width:600px){
      .social-link{
     top: 40%;
     left: 40%;
    }
   .wrapper{
     width: 100%;
     position: absolute;
     right: 0;
     top: 50%;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
   }
  .buttons .features{
     flex-direction: column;
     margin-top: 5px;
   }
   .features button{
     width: 100%;
     margin: 20px;
   }
 }